html
{
    height:100%;
}

body
{
    background: linear-gradient(to bottom right,  darkslategrey, white);
    background-repeat: no-repeat;
    color: black;
    text-align: center;
}

form
{
    min-width: 300px;
    margin-top: 50px;
}

form button
{
    width: 40px;
    color: white;
    border-color: blue;
    background-color: royalblue;
}

#error
{
    color: darkred;
}

#error span
{
    display:block;
}



