html
{
    height:100%;
}

body
{
    background: linear-gradient(to bottom right,  darkslategrey, white);
    background-repeat: no-repeat;
    color: black;
    text-align: center;
}

form
{
    margin-top: 50px;
}

button
{
    width: 5%;
    color: white;
    border-color: blue;
    background-color: royalblue;
}

#error
{
    color: darkred;
}




